<!DOCTYPE html>
<html>
  <head ng-app>
  	<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <!--<script src="routes/index.js"></script>-->
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>

  <body  ng-app="">
    <h1><%= title%></h1>
    
    <p>This system is an online version of WordNet.</p>
    <br>
    <div class="container" >

      <form method="POST" action="/">

        <textarea class="form-control" type="text" id="userSearchString" name="userSearchString" value="" rows="5" placeholder="Enter sentences you want to search"></textarea><button type="submit" class="btn btn-primary">Search</button>
      </form>
      <div id="ajaxtest"><button type="submit" class="btn btn-primary">send Ajax message</button></div>
    </div>
    	<br><br>
      <div id="showmsg">
        
      </div>
      <br>
    <div>
    <div class="alert alert-success" role="alert">
      <h4><%= targetStr%></h4>
    </div>
    <ul>
	<% wordnetDatas.forEach(function(wordnetData) { %>
		<li>
			<b>SynsetOffset:</b> <%= wordnetData.synsetOffset %> <br>
		    <b>Pos:</b> <%= wordnetData.pos %> <br>
            <b>Lemma:</b> <%= wordnetData.lemma %><br>
            <b>Synonyms:</b> <%= wordnetData.synonyms %><br>
            <b>Gloss:</b> <%= wordnetData.gloss %><br><br>
	    </li>
	<% }); %>
</ul>
</div>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
      <script type="text/javascript">
        $(function(){
          $('#ajaxtest').click(function(){
            $.ajax({
              url : '/ajax',
              data : { str : "Hello from ajax!", 
                       author :  "test",  
                       inf : "consume; \"She didn't touch her food all night\""   },
              type : 'POST'
            });
          });
        });
      </script>

      <script type="text/javascript">
        $(function(){
          $('#ajaxtest').click(function(){
            $.ajax({
              url : '/ajax',
              type : 'GET',
              success: function(data){
                console.log('success!');
                console.log(data.toString());
                $('#showmsg').text('Recieved messages from server :' + data.toString());
              }
            });
          });
        });
      </script>
  </body>
  <br>
  <hr>
    <img src="http://wordnet.princeton.edu/wordnet/banner_logo.png" height="40" width="200"><img src="http://i.imgur.com/cWVSLzY.png" height="40" >&nbsp;&nbsp;<img src="http://www.csie.ntnu.edu.tw/image/ntnulogo4.gif" height="40" width="40"><br>
    @NTNU Speech and Machine Intelligence Laboratory (2014)
</html>
